.WeatherForecast-day {
  margin-bottom: 10px;
}

.WeatherForecast {
  text-align: center;
  margin-bottom: 10px;
}

.WeatherForecast-temp-min {
  opacity: 0.6;
  margin-left: 10px;
}

.WeatherForecast-temp-max {
  font-weight: bold;
}
